# Golang dependency directories (created by `go get`)
vendor/

# IDE's config and logs
.idea/
.vscode/

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go binary
*.exe
*.exe~
*.dll
*.so
*.dylib

# Local DB's
sqlite.db 
sqlite3.db


